[Desktop Entry]
Name=AssetPileViewer
Comment=AssetPileViewer
Exec=assetPileViewer
Icon=app_icon.png
Terminal=false
Type=Application
Categories=Entertainment;
